<li>
  <%= radio_button_tag :flight_id, flight.id %>
  From: <%= flight.origin.code %>,
  To: <%= flight.destination.code %>
  <ul style="list-style-type:none;">
    <li>
      Departs at: <%= flight.departure_time %>
    </li>
    <li>
      Duration: <%= distance_of_time_in_words(flight.duration) %>
    </li>
  </ul>
</li>
