<h1>Search Flights</h1>


<%= form_with(model: Flight, url: flights_index_path, method: :get, local: true) do |f| %>
  <div>
    <%= f.label :origin_id, 'Origin' %>
    <%= f.collection_select(:origin_id, @airports, :id, :code) %>
  </div>

  <div>
    <%= f.label :destination_id, 'Destination' %>
    <%= f.collection_select(:destination_id, @airports, :id, :code) %>
  </div>

  <div>
    <%= f.label :passengers %>
    <%= f.select(:passengers, 1..4) %>
  </div>

  <div>
    <%= f.label :departure_date, 'Departure Date' %>
    <%= f.select(:departure_date, Flight.departure_dates.map(&:departure_date).uniq) %>
  </div>
  
  <div>
    <%= f.submit 'Search' %>
  </div>
<% end %>

