<h1>Search Flights</h1>

<%= form_tag(flights_path, method: :get, local: true) do |f| %>
  <div>
    <%= label_tag :origin_id, 'Origin' %>
    <%= select_tag :origin_id, options_from_collection_for_select(@airports, :id, :code), include_blank: true %>
  </div>

  <div>
    <%= label_tag :destination_id, 'Destination' %>
    <%= select_tag :destination_id, options_from_collection_for_select(@airports, :id, :code), include_blank: true %>
  </div>

  <div>
    <%= label_tag :passengers %>
    <%= select_tag :passengers, options_for_select(1..4) %>
  </div>

  <div>
    <%= label_tag :departure_date, 'Departure Date' %>
    <%= select_tag :departure_date, options_for_select(@departure_dates), include_blank: true %>
  </div>

  <div>
    <%= submit_tag 'Search' %>
  </div>
<% end %>

<% unless @flight_results.nil? || @flight_results.empty? %>
  <%= hidden_field_tag :passengers, @passengers %>
  <h2>Available Flights</h2>
  <%= form_tag(new_booking_path, method: :get, local: true) do %>
  <ul style="list-style-type:none;padding-left:0;">
    <%= render @flight_results %>
  </ul>
  <%= submit_tag 'Book Flight' %>
  <% end %>
<% end %>
