<h1>New Booking</h1>

<% flight = Flight.find(params[:flight_id]) %>
<%= form_with(model: @booking, local: true) do |f| %>
  <%= f.hidden_field :flight_id, value: params[:flight_id] %>
  <%= render "flight", flight: flight %>
  <h3>
    Passengers
  </h3>
  <%= f.fields_for :passengers do |passenger_form| %>
      <div>
        <%= passenger_form.label :name %>
        <%= passenger_form.text_field :name %>
      </div>

      <div>
        <%= passenger_form.label :email %>
        <%= passenger_form.email_field :email %>
      </div>
    <br>
  <% end %>
  <%= f.submit 'Book flight' %>
<% end %>
